["free"
 "flee"
 "fled"
 "feed"
 "feel"
 "fell"
 "fall"
 "fail"
 "jail"

 "love"
 "live"
 "give"
 "hive"
 "hide"
 "hire"
 "fire"
 "fare"
 "bare"
 "babe"
 "baby"

 "hope"
 "cope"
 "pope"
 "pole"
 "poll"
 "toll"
 "tall"
 "ball"
 "bald"
 "bold"
 "bolt"
 "boat"
 "goat"
 "goal"
 "coal"
 "cool"
 "pool"
 "poop"
 "prop"
 "crop"
 "crap"]
